include bayesn/data/*
include bayesn/data/example_lcs/*
include bayesn/bayesn-filters/*
include bayesn/bayesn-filters/filters/*
include bayesn/bayesn-filters/filters/*
include bayesn/bayesn-filters/filters/APO/SDSS/*
include bayesn/bayesn-filters/filters/ATLAS/ATLAS/*
include bayesn/bayesn-filters/filters/CAHA/O2K/*
include bayesn/bayesn-filters/filters/CFHT/Megacam/*
include bayesn/bayesn-filters/filters/CMO/2.5-m/*
include bayesn/bayesn-filters/filters/CTIO/*
include bayesn/bayesn-filters/filters/CTIO/0.9meter/*
include bayesn/bayesn-filters/filters/CTIO/2MASS/*
include bayesn/bayesn-filters/filters/CTIO/4meter/*
include bayesn/bayesn-filters/filters/CTIO/ANDICAM/*
include bayesn/bayesn-filters/filters/CTIO/DECAM/*
include bayesn/bayesn-filters/filters/CTIO/PROMPT/*
include bayesn/bayesn-filters/filters/DECam/*
include bayesn/bayesn-filters/filters/FLWO/1.2meter/*
include bayesn/bayesn-filters/filters/GALEX/Imaging/*
include bayesn/bayesn-filters/filters/GeminiNorth/NIRI/*
include bayesn/bayesn-filters/filters/HCT/TIRSPEC/*
include bayesn/bayesn-filters/filters/HST/WFC3/*
include bayesn/bayesn-filters/filters/HST/WFC3/IR/*
include bayesn/bayesn-filters/filters/HST/WFC3/UVIS2/*
include bayesn/bayesn-filters/filters/IRSF/SIRIUS/*
include bayesn/bayesn-filters/filters/IRTF/NSFCam/*
include bayesn/bayesn-filters/filters/KPNO/LaSilla/*
include bayesn/bayesn-filters/filters/LCO/*
include bayesn/bayesn-filters/filters/LCO/Baade/*
include bayesn/bayesn-filters/filters/LCO/Dupont/*
include bayesn/bayesn-filters/filters/LCO/PANIC/*
include bayesn/bayesn-filters/filters/LCO/Persson/*
include bayesn/bayesn-filters/filters/LCO/Swope/*
include bayesn/bayesn-filters/filters/Lick/KAIT/*
include bayesn/bayesn-filters/filters/Liverpool/*
include bayesn/bayesn-filters/filters/Liverpool/IOO/*
include bayesn/bayesn-filters/filters/Liverpool/RATCam/*
include bayesn/bayesn-filters/filters/LSST/*
include bayesn/bayesn-filters/filters/NOT/*
include bayesn/bayesn-filters/filters/NOT/ALFOSC/*
include bayesn/bayesn-filters/filters/NOT/MOSCA/*
include bayesn/bayesn-filters/filters/NOT/NOTCam/*
include bayesn/bayesn-filters/filters/NOT/TNG/*
include bayesn/bayesn-filters/filters/NULL/*
include bayesn/bayesn-filters/filters/OAM/TJO/*
include bayesn/bayesn-filters/filters/Palomar/*
include bayesn/bayesn-filters/filters/Palomar/P48/*
include bayesn/bayesn-filters/filters/Palomar/P48/CFH12K/*
include bayesn/bayesn-filters/filters/Palomar/P48/ZTF/*
include bayesn/bayesn-filters/filters/Palomar/P60/GRBCam/*
include bayesn/bayesn-filters/filters/Palomar/P60/SEDM/*
include bayesn/bayesn-filters/filters/Paranal/*
include bayesn/bayesn-filters/filters/Paranal/HAWKI/*
include bayesn/bayesn-filters/filters/Paranal/ISAAC/*
include bayesn/bayesn-filters/filters/Paranal/VISTA/*
include bayesn/bayesn-filters/filters/PS1/*
include bayesn/bayesn-filters/filters/Spitzer/IRAC/*
include bayesn/bayesn-filters/filters/SPM/RATIR/*
include bayesn/bayesn-filters/filters/standard/*
include bayesn/bayesn-filters/filters/standard/2MASS_PAIRITEL/*
include bayesn/bayesn-filters/filters/standard/Persson/*
include bayesn/bayesn-filters/filters/standard/stritzinger/*
include bayesn/bayesn-filters/filters/Swift/*
include bayesn/bayesn-filters/filters/Swift/UVOT/*
include bayesn/bayesn-filters/filters/UKIRT/WFCAM/*
include bayesn/bayesn-filters/filters/USNO/USNO40/*
include bayesn/model_files/M20_model/BAYESN.INFO
include bayesn/model_files/M20_model/BAYESN.YAML
include bayesn/model_files/T21_model/BAYESN.INFO
include bayesn/model_files/T21_model/BAYESN.YAML
include bayesn/model_files/W22_model/BAYESN.INFO
include bayesn/model_files/W22_model/BAYESN.YAML
include bayesn/model_files/README.md
