include bayesn/data/hsiao.h5
include bayesn/bayesn-filters/*
include bayesn/bayesn-filters/filters/*
include bayesn/bayesn-filters/filters/CTIO/*
include bayesn/bayesn-filters/filters/CTIO/ANDICAM/*
include bayesn/bayesn-filters/filters/DECam/*
include bayesn/bayesn-filters/filters/HST/WFC3/*
include bayesn/bayesn-filters/filters/HST/WFC3/IR/*
include bayesn/bayesn-filters/filters/HST/WFC3/UVIS2/*
include bayesn/bayesn-filters/filters/LCO/*
include bayesn/bayesn-filters/filters/LCO/Dupont/*
include bayesn/bayesn-filters/filters/LCO/Swope/*
include bayesn/bayesn-filters/filters/LSST/*
include bayesn/bayesn-filters/filters/NULL/*
include bayesn/bayesn-filters/filters/PS1/*
include bayesn/bayesn-filters/filters/standard/*
include bayesn/bayesn-filters/filters/standard/2MASS_PAIRITEL/*
include bayesn/bayesn-filters/filters/standard/Persson/*
include bayesn/bayesn-filters/filters/standard/stritzinger/*
include bayesn/bayesn-filters/filters/Swift/*
include bayesn/bayesn-filters/filters/Swift/UVOT/*
include bayesn/bayesn-filters/filters/USNO/*
include bayesn/bayesn-filters/filters/USNO/USNO40/*
include bayesn/bayesn-filters/filters/ZTF/*
include bayesn/bayesn-filters/standards/*
include bayesn/model_files/M20_model/BAYESN.INFO
include bayesn/model_files/M20_model/BAYESN.YAML
include bayesn/model_files/T21_model/BAYESN.INFO
include bayesn/model_files/T21_model/BAYESN.YAML
include bayesn/model_files/W22_model/BAYESN.INFO
include bayesn/model_files/W22_model/BAYESN.YAML
include bayesn/model_files/README.md

